<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/BP.css}">
    <title>Busca Preço</title>    
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/jquery.js}"></script>
    <script th:src="@{/BP.js}"></script>
</head>
<body>
    <div class="container" id="cabecalho"> 

          <div class="row"> 

              <div style="background-color: rgb(243, 113, 113);" class="col-md-12" > 
                  <h1>Busca Preço</h1> 
              </div> 
              
          </div> 
       
            <ul style="background-color: rgb(212, 189, 189);" class="nav"> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/">Página Inicial</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/criarProdutoForm">Adicionar Produtos</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/listarProduto">Lista de Produtos</a> 
                </li>
        </ul> 
    </div> 

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container" id="corpo">

        <div class="row"> 

            <div class="col-md-4">
                
            </div>

            <div class="col-md-3">
                <h2>Bem-vindo(a)!</h2>
                <h3>Use o menu acima para navegar!</h3>
            </div>

            <div class="col-md-11">
                
            </div>

        </div>

    </div>

      <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>