<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/BP.css}">
    <title>Busca Preço - Lista</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/jquery.js}"></script>
    <script th:src="@{/BP.js}"></script>
</head>
<body>
    <div class="container" id="cabecalho"> 

          <div class="row"> 

              <div style="background-color: rgb(243, 113, 113);" class="col-md-12" > 
                  <h1>Busca Preço</h1> 
              </div> 
              
          </div> 
       
            <ul style="background-color: rgb(212, 189, 189);" class="nav"> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/">Página Inicial</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/criarProdutoForm">Adicionar Produtos</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="/listarProduto">Lista de Produtos</a> 
                </li>
        </ul> 
    </div> 
  
        <div class="container" id="corpo">   
            <br>
            <div class="row">
            <form class="form-main" method="post" th:action="@{/buscarProduto}" th:object="${nomeProduto}" action="#">
                <div class="mb-2">
                    <label for="txtProduto" class="form-label"><h5>Pesquisar:</h5></label> 
                    <input id="txtProduto" class="form-control" type="text" name="nomeProduto" placeholder="Insira o produto desejado">
                </div>    
                <div class="mb-1">
                    <br>
                    <button type="submit" th:href="@{/pesquisar-nome/{nomeProduto}}" class="form-button" value="Cadastrar">Pesquisar</button>
                </div>
            </form>            
            
                    <table class="table table-striped"> 
                    <thead> 
                        <tr> 
                            <th>Produto</th> 
                            <th>Marca</th> 
                            <th>Preço</th>
                            <th>Quantidade</th>  
                            <th>Data da Compra</th> 
                        </tr> 
                    </thead> 
                    <tbody>
                        <tr th:each="produto : ${listarProdutos}">                            
                                  <td th:text="${produto.nomeProduto}"> 
                                  <td th:text="${produto.marca}">  
                                  <td th:text="${produto.preco}"> 
                                  <td th:text="${produto.quantidade}"> 
                                  <td th:text="${produto.dataCompra}">
                            <td> <a th:href="@{/atualizarProdutoForm/{id}(id=${produto.id})}" class="btn btn-primary">Atualizar</a> 
                                        <a th:href="@{/deletarProduto/{id}(id=${produto.id})}" class="btn btn-danger">Excluir</a>    
                            </td>
                        </tr>                        
                    </tbody> 
                </table> 
            </div>
        </div>

      <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>